body{
    margin: 0;
}

.texto1{
    background-color: #3333337d;
}

.prueba{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1; /*Permite que el video se ponga detras del texto*/
}


.menu{
    list-style: none;
    margin: auto;
    padding: 0;
    max-width: 1000px;
    width: 100%;
    background:blueviolet;
}

.menu li a{
    text-decoration: none;
    color: darkturquoise;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8334;
}
header{
    background-color: gold;
    text-align: center;
    color: blue;
}


.prueba{
    width:100%;
    min-height:500px;
    position: relative;

}

#texto1{
    background-color: pink;
    color:azure
}

video{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}

h1{
    margin: 0;
    padding-top:3rem;
    padding-left: 2rem;
}